<!DOCTYPE html>
<html>
<head>
<title>测试页面</title>
</head>
<body>

<section class="container">
    <div class="title">{{.Title}}</div>
    <div class="content">{{.Content}}</div>
</section>

</body>
</html>
